.right1 {
    position: absolute;
    width: 15.875rem;
    height: 3.4375rem;
    right: 0;
    top: 18.75rem;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.right2 {
    position: absolute;
    width: 15.875rem;
    height: 3.4375rem;
    right: 0;
    top: 23.125rem;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    float: right;
}

.left1 {
    position: absolute;
    width: 15.875rem;
    height: 3.4375rem;
    top: 18.75rem;
    left: 0;
}

.left2 {
    position: absolute;
    width: 15.875rem;
    height: 3.4375rem;
    top: 23.125rem;
    left: 0;
}
