* {
    margin: 0;
}

body {
    margin: 0;
}

body {
    background-color: rgba(255, 95, 0, 0.45);
    margin: 0;
    height: 100vh;
    justify-content: center;
}

.input {
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    top: 220px;
    background: None;
    width: 50%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: none;
    font-size: 2rem;
    color: white;
    padding: 7px 0;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
}

.heading1{
    position: relative;
    left: 50px;
    font-family: Arial;
    font-size: 45px;
}

.mail{
    top: 100px;
}

.email-input{
    font-size: 155px;
}