@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

.rectangle {
  position: absolute;
  width: auto;
  height: 50%;
  left: 0;
  right: 0;
  margin: 20px;
  bottom: 0;

  background: radial-gradient(
    48.34% 314.7% at 48.34% 40.37%,
    rgba(0, 148, 255, 0.13) 0%,
    rgba(254, 254, 254, 0.13) 100%
  );
  border-radius: 31px;
}

.txt-why {
  font-size: 62px;
  font-family: Merriweather Sans, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: 78px;
  word-wrap: break-word;
  position: absolute;
  top: 35%;
  left: 1%;
}

.txt-jssstu {
  word-wrap: break-word;
  position: absolute;
  width: 671px;
  height: 222px;
  left: 14px;
  top: 80px;

  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 146px;
  line-height: 181px;

  color: #53a5e0;
}

.txt-description {

  position: absolute;
  width: auto;
  text-indent: 2em;
  left: 709px;
  margin: 0;
  top: 30px;

  font-family: Righteous, display;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 1px;

  color: #000000;
}
