@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

.rectangle {
    position: absolute;
    width: auto;
    height: 20.5rem;
    left: 0;
    right: 0;
    margin: 20px;
    margin-bottom: 0;
    bottom: 0;

    background: radial-gradient(
        48.34% 314.7% at 48.34% 40.37%,
        rgba(0, 148, 255, 0.13) 0%,
        rgba(254, 254, 254, 0.13) 100%
    );
    border-radius: 1.9375rem;
}

.txt-why {
    font-size: 3.875rem;
    font-family: Merriweather Sans, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    width: 9.375rem;
    height: 4.875rem;
    word-wrap: break-word;
    position: relative;
    top: 15%;
    left: 2%;
}

.txt-jssstu {
    word-wrap: break-word;
    position: relative;
    width: 41.9375rem;
    height: 13.875rem;
    left: 1%;
    top: 5%;

    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 9.125rem;
    line-height: 11.3125rem;

    color: #53a5e0;
}

.txt-description {
    position: absolute;
    width: auto;
    text-indent: 2em;
    left: 43.75rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    top: 0;
    bottom: 0;

    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1875rem;
    letter-spacing: 0.0625rem;

    color: #000000;
}