html, body {
  margin: 0;
  /* background-color: #f7f7f7; */
  background-color: white;
  overflow: auto;
  height: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .text {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .text {
    font-size: 32px;
  }
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.home-page-navbar {
  position: absolute;
}

.home-page-carousel {
  position: relative;
  top: 0px;
}